{% load staticfiles %}
<footer style="background: #303030; height: 70px; text-align: center;">
	
	<div class="inline-middle" style="width: 20%; text-align: center; height: 100%;">
		
		<img src="{% static 'img/instagran.png' %}" style="margin: 0px 5px;" height="20" class="inline-middle">
		<img src="{% static 'img/twitter.png' %}" style="margin: 0px 5px;" height="20" class="inline-middle">
		<img src="{% static 'img/facebook.png' %}" style="margin: 0px 5px;" height="20" class="inline-middle">
		<img src="{% static 'img/linkedin.png' %}" style="margin: 0px 5px;" height="20" class="inline-middle">
		<img src="{% static 'img/youtube.png' %}" style="margin: 0px 5px;" height="20" class="inline-middle">

		<div style="height: 100%;"  class="inline-middle"></div>

	</div>
	
	<div class="inline-middle" style="width: 55%; text-align: center;">
		
		<div class="inline-middle" style="width: 20%;">
			
			<div style="text-align: left; width: 100%; border-bottom: 1px solid #FFFFFF;">
				<img src="{% static 'img/icfooter.png' %}" height="10">
				<div class="inline-middle texto-footer">HOME</div>	
			</div>

			<div style="text-align: left; width: 100%; border-bottom: 1px solid #FFFFFF;">
				<img src="{% static 'img/icfooter.png' %}" height="10">
				<div class="inline-middle texto-footer">QUEM SOMOS</div>	
			</div>

			<div style="text-align: left; width: 100%;">
				<img src="{% static 'img/icfooter.png' %}" height="10">
				<div class="inline-middle texto-footer">CONTATO</div>	
			</div>

		</div>

		<div class="inline-middle" style="width: 20%; margin-left: 40px;">
			<div style="text-align: left; width: 100%;">
				<div class="inline-middle" style="width: 15%; text-align: center;">
					<img src="{% static 'img/icofone.png' %}" height="12">					
				</div>
				<div class="inline-middle texto-footer">(0800) 66 6666-6666</div>	
			</div>

			<div style="text-align: left; width: 100%;">
				<div class="inline-middle" style="width: 15%; text-align: center;">
					<img src="{% static 'img/icomail.png' %}" height="12">					
				</div>
				<div class="inline-middle texto-footer">timecapivara@gmail.com</div>	
			</div>
		</div>

		<div style="height: 100%;"  class="inline-middle"></div>

	</div>

	<div class="inline-middle" style="width: 20%; text-align: right;">
		<img src="{% static 'img/timecapivara.png' %}" class="inline-middle" height="50">	
		<div style="height: 100%;"  class="inline-middle"></div>	
	</div>

</footer>