{% load staticfiles %}
<nav style="text-align: center;background: #123c56; padding:10px 0; margin: 0px;">
	
	<div class="inline-middle" style="width: 45%; text-align: right;">
		<a class="item-nav-topo" href="">Inicio</a>
		<a  class="item-nav-topo" href="">Quem Somos</a>
	</div>
	
	<img src="{% static 'img/logo.png' %}" style="width: 60px; margin: 0px 30px;">
	
	<div class="inline-middle" style="width: 45%; text-align: left;">
		<a class="item-nav-topo" href="">Cursos</a>
		<a class="item-nav-topo" href="">Contato</a>
		<div class="inline-middle" style="text-align: right; width: 60%;">
			<div class="inline-middle img-circle" style="text-align: center; background: #486476; padding: 15px; width: 100px; height: 100px;">
				<img src="{% static 'img/avatar.png' %}" width="40">
				<div style="margin-top: 5px; color: #FFFFFF; font-size: 10px;">Login/Cadastro</div>
			</div>
		</div>
	</div>

</nav>