{% load staticfiles %}
<script src="{% static 'scripts/ng_admlistacurso_ctrl.js' %}"></script>
<div class="row" style="width: 100%; display: block;"  ng-controller="AdmListaCursoCtrl as listacursos">

	<div style="margin-left: 20px; font-size: 40px;">Listagem de Cursos</div>
	<div style="margin: 0 20px; border-top: 1px solid #DCDCDC;"></div>

	<div style="margin-top: 30px; font-size: 20px; margin-left: 20px;">Selecione um Curso:</div>

	<div style="width: 800px;text-align: left; margin-top: 10px; background: #343a40; height: 40px; margin-left: 20px;">
						
		<div class="inline-middle" style="width: 30%; color: white; font-size: 18px; margin-left: 10px;">Nome</div>
		<div class="inline-middle" style="width: 20%; color: white; font-size: 18px;">Professor</div>
		<div class="inline-middle" style="width: 40%; color: white; font-size: 18px;">Descrição</div>
		<div class="inline-middle" style="height: 100%;"></div>

	</div>
	{$listacursos.lista$}
	<div style="width: 800px; overflow: auto; height: 15em; text-align: left; border: 1px solid #343a40; margin-left: 20px;">

		<div style="width: 100%;" ng-repeat="lis in listacursos.lista" >
			<div class="inline-middle" style="width: 30%; margin-left: 10px;">{$lis.nome$}</div>
			<div class="inline-middle" style="width: 20%;">{$lis.perfil.nome$}</div>
			<div class="inline-middle" style="width: 40%;">{$lis.descricao$}</div>
			<div class="inline-middle" style="height: 100%;"></div>
			
		</div>

	</div>
	
</div>