{% load staticfiles %}
<div class="row" style="width: 100%; display: block;">

	<div style="margin-left: 20px; font-size: 40px;">Administração Aprenda no Play</div>

	<div style="margin: 0 20px; border-top: 1px solid #DCDCDC;"></div>

	<div style="margin-top: 30px; font-size: 30px; margin-left: 20px;">Informações básicas:</div>

	<div style="width: 100%; text-align: left; margin-top: 30px; padding-left: 20px;">

		<div class="inline-middle info-item">

			<div class="inline-middle" style="width: 100%;">
				<div style="font-size: 20px;">Total de cursos</div>
				<div style="background: #DCDCDC; height: 1px; width: 100%; margin-top: 5px;"></div>
				<div style="font-size: 40px; margin-top: 10px;">40</div>				
			</div>
			<div class="inline-middle" style="height: 100%;"></div>

		</div>

		<div class="inline-middle info-item">
			
			<div class="inline-middle" style="width: 100%;">
				<div style="font-size: 20px;">Total de professores</div>
				<div style="background: #DCDCDC; height: 1px; width: 100%; margin-top: 5px;"></div>
				<div style="font-size: 40px; margin-top: 10px;">2</div>				
			</div>
			<div class="inline-middle" style="height: 100%;"></div>
			
		</div>
		
		<div class="inline-middle info-item">
			
			<div class="inline-middle " style="width: 100%;">
				<div style="font-size: 20px;">Total de alunos</div>
				<div style="background: #DCDCDC; height: 1px; width: 100%; margin-top: 5px;"></div>
				<div style="font-size: 40px; margin-top: 10px;">6432</div>				
			</div>
			<div class="inline-middle" style="height: 100%;"></div>
			
		</div>
		
	</div>

	<div style="margin-top: 30px; font-size: 30px; margin-left: 20px;">Top 3 cursos:</div>
	
	<div style="width: 100%; text-align: left; margin-top: 30px;  padding-left: 20px;">

		<div class="inline-middle info-item">

			<div class="inline-middle" style="width: 100%;">
				<div style="font-size: 20px;">Curso Cavaquinho</div>
				<div style="font-size: 12px;">Professor: Andrey Gay</div>
				<div style="background: #DCDCDC; height: 1px; width: 100%; margin-top: 5px;"></div>
				<div style="font-size: 40px; margin-top: 10px;">800</div>				
			</div>
			<div class="inline-middle" style="height: 100%;"></div>

		</div>

		<div class="inline-middle info-item">
			
			<div class="inline-middle" style="width: 100%;">
				<div style="font-size: 20px;">Curso Violão</div>				
				<div style="font-size: 12px;">Professor: Diego Bicha</div>
				<div style="background: #DCDCDC; height: 1px; width: 100%; margin-top: 5px;"></div>
				<div style="font-size: 40px; margin-top: 10px;">600</div>				
			</div>
			<div class="inline-middle" style="height: 100%;"></div>
			
		</div>
		
		<div class="inline-middle info-item">
			
			<div class="inline-middle " style="width: 100%;">
				<div style="font-size: 20px;">Curso Bateria</div>
				<div style="font-size: 12px;">Professor: Filipe Gostoso</div>
				<div style="background: #DCDCDC; height: 1px; width: 100%; margin-top: 5px;"></div>
				<div style="font-size: 40px; margin-top: 10px;">500</div>				
			</div>
			<div class="inline-middle" style="height: 100%;"></div>
			
		</div>

	</div>

	
	
</div>