{% load staticfiles %}
<div class="row" style="background-color: #2F4F4F; height: 80px;">

	<div style="width: 30%; height: 100%;" class="inline-middle">
		<div class="inline-middle" style="color: #FFFFFF; font-size: 35px; margin-left: 20px;">Administração</div>
		<div class="inline-middle" style="height: 100%;"></div>
	</div>

	<div style="width: 50%; height: 100%;" class="inline-middle">
		<div class="inline-middle">Aprenda no Play</div>
		<div class="inline-middle">Listagens</div>
		<div class="inline-middle">Cadastros</div>
		<div class="inline-middle">Relatorios</div>
	</div>

	<div style="width: 19%; height: 100%; text-align: right;" class="inline-middle">
		<img src="{% static 'img/timeCapivara.png' %}" style="height: 60px;" class="inline-middle">
		<div class="inline-middle" style="height: 100%;"></div>
	</div>
</div>
