*{
	font-family: 'Roboto', sans-serif;
}

.inline-middle{	
	display: inline-block;
	vertical-align: middle;
}

.inline-top{	
	display: inline-block;
	vertical-align: top;
}

.borda-trans{
	border: 0px solid transparent;
	border-radius: 15px;
}

input[type=text]{
	width: 400px;
	height: 50px;
}

button{
	height: 50px;
}

select{
	width: 400px;
	height: 50px;
}

.item-lista{
	font-size: 16px;
	height: 40px;
	cursor: pointer;
}

.item-lista:hover {
	background: #d3d3d3;
}

.item-lista-selecionado{
	font-size: 16px;
	height: 40px;
	background: #FF6347;
	cursor: pointer;
}

.item-menu{
	padding: 10px;
	color: #FFFFFF;
	cursor: pointer;
}

.item-menu:hover {
	color: #D2B48C;
}

.item-menu-selecionado{
	color: #FF6347;
	cursor: pointer;
}

.info-item{
	width: 250px;
	height: 150px;
	margin: 10px 10px; 
	border: 1px solid transparent; 
	border-radius: 5px; 
	background: #343a40;
	color: #FFFFFF;
	padding: 10px;
}

.btn-item{
	width: 200px;
	height: 80px;
	margin: 10px 10px; 
	border: 1px solid transparent; 
	border-radius: 5px; 
	background: #343a40;
	color: #FFFFFF;
	padding: 10px;
	cursor: pointer;
}

.botao{
	border: 1px solid #343a40; 
	background: #FFFFFF;
	display: block;
	cursor: pointer;
}

.caixa-selecao{
	border: 1px solid #343a40; 
	margin-left: 20px;
}

.caixa-reproducao{
	display: block;
	border: 1px solid #343a40;
	margin-left: 20px;
	margin-top: 30px;

}