<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<meta charset="utf-8">
	<title>Aprenda no Play</title>
	<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static '/css/basico.css' %}" rel="stylesheet">

</head>
<body style="background: #1d4f68;">

	{% include "site/bases/topo.html" %} 

	<div style="width: 100%;">

		<h1 style="text-align: center; color: #FFFFFF; margin-top: 50px;">INSTRUMENTOS</h1>
		
		<div style="text-align: center; width: 100%; margin-top: 50px;">

			<div class="img-circle inline-middle" style="width: 120px; height: 120px; background: #FFFFFF; padding: 5px; margin: 0px 10px;">
				<div class="img-circle" style="border: 5px solid #ffd356; width: 100%; height: 100%; text-align: center; padding: 5px;">
					<img src="{% static 'img/bateria.png'%}" style="height: 50%; margin-top: 15px;">
					<div style="color: #1d4f68; margin-top: 6px; font-size: 12px;">Percussivos</div>
				</div>
			</div>

			<div class="img-circle inline-middle" style="width: 120px; height: 120px; background: #FFFFFF; padding: 5px; margin: 0px 10px;">
				<div class="img-circle" style="border: 5px solid #ffd356; width: 100%; height: 100%; text-align: center; padding: 5px;">
					<img src="{% static 'img/violao.png'%}" style="height: 50%; margin-top: 15px;">
					<div style="color: #1d4f68; margin-top: 6px; font-size: 12px;">Cordas</div>
				</div>
			</div>

			<div class="img-circle inline-middle" style="width: 120px; height: 120px; background: #FFFFFF; padding: 5px; margin: 0px 10px;">
				<div class="img-circle" style="border: 5px solid #ffd356; width: 100%; height: 100%; text-align: center; padding: 5px;">
					<img src="{% static 'img/bateria.png'%}" style="height: 50%; margin-top: 15px;">
					<div style="color: #1d4f68; margin-top: 6px; font-size: 12px;">Sopro</div>
				</div>
			</div>

			<div class="img-circle inline-middle" style="width: 120px; height: 120px; background: #FFFFFF; padding: 5px; margin: 0px 10px;">
				<div class="img-circle" style="border: 5px solid #ffd356; width: 100%; height: 100%; text-align: center; padding: 5px;">
					<img src="{% static 'img/teclado.png'%}" style="height: 50%; margin-top: 15px;">
					<div style="color: #1d4f68; margin-top: 6px; font-size: 12px;">Teclas</div>
				</div>
			</div>

		</div>
		
	</div>

	<div style="text-align: center; margin-top: 50px;">

		<div style="width: 60%; background: #577d8f; height: 350px;" class="inline-middle">
			<div style="width: 100%; text-align: center; height: 100%">
				<div class="inline-middle" style="width: 50%; height: 80%;">
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>					
				</div>
				<div class="inline-middle" style="width: 40%; margin-left: 10px;">
					<div style="color: #FFFFFF; font-size: 27px; text-align: left;">AULAS ONLINE DE</div>
					<div style="color: #ffd356; font-size: 27px; text-align: left;">INSTRUMENTOS MUSICAIS</div>
					<div style="color: #FFFFFF; text-align: left;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</div>
				</div>
				<div style="height: 100%;" class="inline-middle"></div>	
			</div>
			  
		</div>
		
	</div>

	<h2 style="text-align: center; color: #FFFFFF; margin-top: 50px;">INSTRUMENTOS</h2>

	<div style="text-align: center; margin-top: 50px;">

		<div style="text-align: center; width: 190px; height: 220px; background: #FFFFFF; margin: 0px 15px;" class="inline-middle">
			<div class="inline-middle">
				<div style="color: #1d4f68; font-size: 20px; margin-top: 15px; font-weight: bold;">MENSAL</div>
				<div style="color: #ffd356; font-size: 25px; margin-top: 15px; font-weight: bold;">R$45,00</div>
				<button style="border: 1px solid transparent; border-radius: 15px; background: #ffd356; color: #1d4f68; font-size: 12px; font-weight: bold; margin-top: 15px; padding: 10px;">COMPRAR</button>	
			</div>
			<div class="inline-middle" style="height: 100%; margin: 0px;"></div>			
		</div>

		<div style="text-align: center; width: 190px; height: 220px; background: #FFFFFF; margin: 0px 15px;" class="inline-middle">
			<div class="inline-middle">
				<div style="color: #1d4f68; font-size: 20px; margin-top: 15px; font-weight: bold;">SEMESTRAL</div>
				<div style="color: #ffd356; font-size: 25px; margin-top: 15px; font-weight: bold;">R$258,00</div>
				<button style="border: 1px solid transparent; border-radius: 15px; background: #ffd356; color: #1d4f68; font-size: 12px; font-weight: bold; margin-top: 15px; padding: 10px;">COMPRAR</button>	
			</div>
			<div class="inline-middle" style="height: 100%; margin: 0px;"></div>			
		</div>

		<div style="text-align: center; width: 190px; height: 220px; background: #FFFFFF; margin: 0px 15px;" class="inline-middle">
			<div class="inline-middle">
				<div style="color: #1d4f68; font-size: 20px; margin-top: 15px;font-weight: bold;">ANUAL</div>
				<div style="color: #ffd356; font-size: 25px; margin-top: 15px;font-weight: bold;">R$480,00</div>
				<button style="border: 1px solid transparent; border-radius: 15px; background: #ffd356; color: #1d4f68; font-size: 12px; font-weight: bold; margin-top: 15px; padding: 10px;">COMPRAR</button>	
			</div>
			<div class="inline-middle" style="height: 100%; margin: 0px;"></div>			
		</div>
		
	</div>

	<div style="margin-bottom: 50px;"></div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>    

</body>
</html>